{
    "env": {
        "browser": true,
        "es2021": true,
        "jest": true
    },
    "extends": [
        "plugin:react/recommended",
        "google",
        "plugin:i18next/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "@typescript-eslint",
        "i18next",
        "react-hooks"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    },
    "rules": {
        "@typescript-eslint/indent": [2, 4],
        "indent": ["warn", 4, { "SwitchCase": 1 }],
        "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
        "react/react-in-jsx-scope": "off",
        "no-console": ["warn", {"allow": ["warn", "error"]}],
        "max-len": ["warn", {
            "code": 125,
            "ignoreComments": true
        }],
        "require-jsdoc": "off",
        "no-unused-vars": "warn",
        "object-curly-spacing": "off",
        "comma-dangle": ["error", {
            "arrays": "never",
            "objects": "never",
            "imports": "never",
            "exports": "never",
            "functions": "never"
        }],
        "new-cap": "off",

        "i18next/no-literal-string": ["error", {
            "markupOnly": true,
            "ignoreAttribute": [
                "data-testid",
                "to"
            ]
        }],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "error",
        "no-param-reassign": "off",
        "react/display-name": "off"
    },
    "globals": {
        "_IS_DEV": true
    },
    "overrides": [
        {
            "files": [
                "**/src/**/*.{test, stories}.{ts, tsx}"
            ],
            "rules": {
                "i18next/no-literal-string": "off",
                "max-len": "off"
            }
        }
    ]
}
