.button {
    cursor: pointer;
    margin: 0;
    padding: 0.25rem;
}

.primary {
    border: none;
    background: var(--inverted-bg-color);
    color: var(--bg-color);
    outline: none;
}

.outlined {
    border: 1px solid var(--primary-color);
    padding: 10px 15px;
    color: var(--primary-color);
    background: none;
    background: var(--inverted-bg-color);
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
    outline: none;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--primary-color);
    border: none;
    outline: none;
}

.square {
    padding: 0;
}

.square.sizeM {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font: var(--font-m);
}

.square.sizeL {
    width: var(--font-line-l);
    height: var(--font-l);
    font: var(--font-l);
}

.square.sizeXL {
    width: var(--font-line-xl);
    height: var(--font-xl);
    font: var(--font-xl);
}

.sizeM {
    font: var(--font-m);
}

.sizeL {
    font: var(--font-l);
}

.sizeXL {
    font: var(--font-xl);
}
