.link {
    margin-right: 10px;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    .link {
        display: none;
        transition: 0.2s opacity;
    }
}
