.app.dark{
  --bg-color: #576da6;
  --inverted-bg-color: #ffffff;

  --primary-color: #ffffff;
  --inverted-primary-color: #000000;

  --secondary-color: #cbcbcb;
  --inverted-secondary-color: #525252;;
}