.app.dark {
    --bg-color: #576da6;
    --inverted-bg-color: #fff;

    --primary-color: #fff;
    --inverted-primary-color: #000;

    --secondary-color: #cbcbcb;
    --inverted-secondary-color: #525252;
}
