.app.light {
    --bg-color: #fff;
    --inverted-bg-color: #576da6;

    --primary-color: #000;
    --inverted-primary-color: #fff;

    --secondary-color: #525252;
    --inverted-secondary-color: #cbcbcb;
}
