.app.light{
  --bg-color: #ffffff;
  --inverted-bg-color: #576da6;

  --primary-color: #000000;
  --inverted-primary-color: #ffffff;

  --secondary-color: #525252;
  --inverted-secondary-color:  #cbcbcb;
}