.navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;

    h2 {
        color: var(--inverted-secondary-color);
    }
}

.links {
    margin-left: auto;

    a {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
}
